@import '/src/assets/style/utils/mixins';

.unknown-error-view {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    margin-bottom: 2rem;
    height: 45rem;

    @include sm {
      height: 35rem;
    }

    @include xs {
      height: 22rem;
    }
  }

  &__title {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    color: var(--text-color);

    @include sm {
      font-size: 2.8rem;
    }

    @include xs {
      font-size: 2rem;
    }
  }

  &__subtitle {
    margin-bottom: 5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    text-align: center;

    @include sm {
      font-size: 1.5rem;
    }

    @include xs {
      font-size: 1.4rem;
    }
  }
}
