.theme {
  &--light {
    --text-color: var(--color-gray-950);
    --text-color--accent: var(--color-gray-600);

    --background-color: var(--color-white);
    --background-color--accent: var(--color-gray-100);
    --background-color--hover: rgba(0, 0, 0, 0.05);

    --border-color: var(--color-gray-200);
  }

  &--dark {
    --text-color: var(--color-gray-50);
    --text-color--accent: var(--color-gray-100);

    --background-color: var(--color-black);
    --background-color--accent: var(--color-gray-800);
    --background-color--hover: rgba(0, 0, 0, 0.15);

    --border-color: var(--color-gray-700);
  }
}
