@import '../../../assets/style/utils/mixins';

.search-bar {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--color-background);

  &__input {
    width: 30rem;
    max-width: 100rem;

    @include md-lt {
      width: 100%;
    }
  }

  &__results {
    font-size: 1rem;
    font-weight: 700;
  }
}
