.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);

  &__icon {
    --icon-size: 1.6rem;
    max-width: var(--icon-size);
    max-height: var(--icon-size);

    &--large {
      --icon-size: 2.2rem;
    }
  }
}
