:root {
  // Colors.
  --color-primary: #3498db;
  --color-secondary: #2ecc71;

  --color-gray-50: #fafafa;
  --color-gray-100: #f4f4f5;
  --color-gray-200: #e4e4e7;
  --color-gray-300: #d4d4d8;
  --color-gray-400: #a1a1aa;
  --color-gray-500: #71717a;
  --color-gray-600: #52525b;
  --color-gray-700: #3f3f46;
  --color-gray-800: #27272a;
  --color-gray-900: #18181b;
  --color-gray-950: #09090b;

  --color-error: #dc3545;

  // Fonts.
  --font-family: 'Montserrat', sans-serif;

  // Box shadows.
  --box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  // Transitions.
  --transition-hover: 0.15s cubic-bezier(0.4, 0, 0.2, 1);

  // Sizes.
  --max-width: 120rem;
}
