:root {
  // Colors.
  --color-primary: #3498db;
  --color-secondary: #2ecc71;

  --color-gray-100: #f8f9fa;
  --color-gray-200: #e9ecef;
  --color-gray-300: #dee2e6;
  --color-gray-400: #c3c6c9;
  --color-gray-500: #adb5bd;
  --color-gray-600: #6c757d;
  --color-gray-700: #495057;
  --color-gray-800: #343a40;
  --color-gray-900: #212529;

  --color-background: #ffffff;
  --color-text: #000000;

  --color-error: #dc3545;

  // Fonts.
  --font-family: 'Open Sans', sans-serif;

  // Box shadows.
  --box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
