@import 'src/assets/style/utils/mixins';
@import 'src/assets/style/utils/debug';

.student-grid {
  --column-number: 5;
  width: 100%;
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(var(--column-number), 1fr);
  grid-gap: 2rem;
  overflow-x: hidden;

  @include lg-lt {
    --column-number: 4;
  }

  @include md-lt {
    --column-number: 3;
  }

  @include sm-lt {
    --column-number: 3;
  }

  @include xs {
    --column-number: 2;
    grid-gap: 1rem;
  }
}
