.svg-image {
  .color-primary {
    fill: var(--color-primary);
    stroke: var(--color-primary);
  }

  .color-border {
    fill: var(--border-color);
    stroke: var(--border-color);
  }

  .color-background {
    fill: var(--background-color);
    stroke: var(--background-color);
  }

  .color-background--accent {
    fill: var(--background-color--accent);
    stroke: var(--background-color--accent);
  }

  .color-text {
    fill: var(--text-color);
    stroke: var(--text-color);
  }

  .color-text--accent {
    fill: var(--text-color--accent);
    stroke: var(--text-color--accent);
  }
}
