@import 'src/assets/style/utils/variables';

.header-drawer {
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: map-get($map: $zIndexes, $key: 'header');

  &-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    &__logo {
      margin-left: 0.5rem;
      color: var(--color-text);
      font-size: 2.2rem;
    }

    &__close-button {
      .svg-icon {
        --color: var(--color-text-accent);
        fill: var(--color);
        stroke: var(--color);
      }
    }
  }

  &-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__navigation-bar {
      height: auto !important;
      display: flex !important;

      & > ul {
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 2.5rem;

        li {
          height: auto;
        }
      }
    }
  }

  &-footer {
    .actions {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
    }
  }
}
